<div class="reach-your-peak-hero">
  <div class="hero__container">
    <div class="hero__container_text">
      <h1 class="hero__title"><%- i18n.fx('reach_your_peak_title')%></h1>
      <p class="hero__subtitle"><%- i18n.fx('reach_your_peak_text_1')%></p>
      <a href="javascript:void(0)" rel="nofollow noopener" class="hero__btn direct-register-link">
        <%- i18n.fx('find_your_calm_hero_btn')%>
        <i class="fx-symbol-arrow-right"></i>
      </a>
    </div>
    <div class="hero__container_bg">
      <div class="hero__outer-circle"></div>
      <div class="hero__inner-circle"></div> 
      <div class="hero__inner-cross"></div> 
      <div class="hero__play-button_wrapper">
        <div class="hero__play-button"></div>
      </div>
      <div class="hero__video_wrapper">
        <video class="hero__video" poster="false">
          <source type="video/webm" src="https://direct-landings.azureedge.net/assets/video/reach-your-peak/reach-your-peak-video-1.webm">
          <source type="video/mp4" src="https://direct-landings.azureedge.net/assets/video/reach-your-peak/reach-your-peak-video-1.mp4">
        </video>
      </div>
    </div>
  </div>
</div>